{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>SALON SPA | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>

<body>
    <div class="container">
        <div class="nav">
            <h2>WELCOME TO PRODUCTS PART</h2>
        </div>
        <div class="main">
            {% for product in products %}
            <div class="row">
                <div class="col-md-4">
                    <img src={{product.image}}>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    {{product.price}}
                </div>
                <div class="col-md-2">
                    <a href="{% url 'view_cart' %}">Add to cart</a>  
                </div>
            </div>
            {% endfor%}
        </div>
        
    </div>
</body>
</html>