{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>SALON SPA | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>

<body>
    <div class="container">
        <div class="header center">
           LOGIN | MY SALON SPA
        </div>

        <div class="main">
            <form method="POST">
                {% csrf_token %}
                <!--First Name-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="firstname-label" for="first_name">First Name</label>
                        <input id="first_name" type="text" name="name" class="form-control" placeholder="Enter First Name" required>
                    </div>
                </div>

                <!--Second Name-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="lastname-label" for="last-name">Last Name</label>
                        <input id="last-name" type="text" name="name" class="form-control" placeholder="Enter Last Name" required>
                    </div>
                </div>

                <!--User Name-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="username-label" for="user-name">UserName</label>
                        <input id="user-name" type="text" name="name" class="form-control" placeholder="Enter UserName" required>
                    </div>
                </div>

                <!--Email-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="email-label" for="email">Email</label>
                        <input id="email" type="email" name="email" class="form-control" placeholder="Enter email" required>
                    </div>
                </div>

                <!--Password-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="name-label" for="password">Password</label>
                        <input id="password" type="password" name="password" class="form-control" placeholder="Enter Password" required>
                    </div>
                </div>

                <!--Confirm Password-->
                <div class="row">
                    <div class="form-group col-md-8">
                        <label id="name-label" for="password">Confirm Password</label>
                        <input id="password" type="password" name="password" class="form-control" placeholder="Enter Confirm Password" required>
                    </div>
                </div>
                <div class="wrap">
                    <button class="btn btn-primary">SIGNUP</button>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Already have an account?</p>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'login' %}">Login</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>