{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>SALON SPA | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <p>
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p>
              If you don't receive an email, please make sure you've entered the address you registered with,
              and check your spam folder.
            </p>
          </div>
        </div>
    </div>
  </body>

  </body>
  </html>