{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>SALON SPA | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>

<body>
    {% if validlink %}
    <h3>Change password</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
    {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
    {% endif %}
</body>
</html>