{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>SALON SPA | LOGIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">

</head>

<body>
  <h3>Forgot password</h3>
  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit btn-primary">Submit</button>
  </form>

</body>
</html>
